
{% extends "base.jinja" %}

{% block contenu %}
<div class="container mt-3">
    <h2>Les utilisateurs</h2>

    <div class="table-responsive" id="tableau-utilisateurs">
        
    </div>
</div>
<div class="text-end mt-3">
        <a href="{{ url_for('compte.inscription') }}" class="btn btn-primary">
            Ajouter un utilisateur
        </a>
</div>
{% endblock %}

